# --- DATABASE CONFIGURATION ---
DB_NAME=magento_db
DB_USER=root
DB_PASS=your_secure_password
DB_CONTAINER=db

# --- PROJECT CONFIGURATION ---
PROJECT_DIR=src
THEME_NAME=MyVendor/bookstore
PHP_CONTAINER=php
