# --- SENSITIVE FILES (BẢO MẬT TUYỆT ĐỐI) ---
auth.json
src/app/etc/env.php
.env
*.sql
*.gz

# --- DOCKER & OS ---
.DS_Store
Thumbs.db
.docker/data/
docker-compose.override.yml

# --- MAGENTO GENERATED & CACHE ---
src/var/*
src/generated/*
!src/generated/.gitkeep
src/pub/static/*
!src/pub/static/.htaccess

# --- DEPENDENCIES ---
src/vendor/
node_modules/

# --- TEMP & LOG FILES ---
*.log
*.swp
*.bak
.idea/
.vscode/
