<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="bookstore_info" frontName="bookstore-info">
            <module name="Bookstore_Utility"/>
        </route>
        <route id="stores">
            <module name="Bookstore_Utility" before="Magento_Store"/>
        </route>
        <route id="bookstore_policy" frontName="chinh-sach">
            <module name="Bookstore_Utility"/>
        </route>
        <route id="bookstore_about" frontName="about-us">
            <module name="Bookstore_Utility"/>
        </route>
    </router>
</config>
