<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <banktransfer>
                <active>0</active>
            </banktransfer>
            <checkmo>
                <active>0</active>
            </checkmo>
            <cashondelivery>
                <active>1</active>
                <title>Thanh toán khi nhận hàng (COD)</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <sort_order>10</sort_order>
            </cashondelivery>
            <bookstore_vietqr>
                <active>1</active>
                <model>Bookstore\Payment\Model\VietQr</model>
                <title>Chuyển khoản VietQR</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <bank_id>BIDV</bank_id>
                <account_no>8870380558</account_no>
                <account_name>BOOKSTORE DEMO</account_name>
                <sort_order>20</sort_order>
            </bookstore_vietqr>
        </payment>
    </default>
</config>
