<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bookstore_utility>
            <weather>
                <city>Hanoi,VN</city>
                <api_key>c9c4654e318d58bec7e954b569a2bfe9</api_key>
            </weather>
        </bookstore_utility>
    </default>
</config>
